<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/undefined.css">
<meta charset="ISO-8859-1">
<title th:text="${'Bevit - ' + currentPage}"></title>
</head>
<body class="backgroundUndefined">

	<div th:replace="fragments/navbars.html :: navbarUndefined"></div>
		
	<th:block th:replace="undefined-role/components/undefined-pages.html :: ${currentPage}"></th:block>
	
</body>
</html>