<!-- PAGINA HOME -->

<th:block th:fragment="home" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/home-page.html :: homePage-1"></div>
</th:block>




<!-- PAGINA PRODOTTI -->

<th:block th:fragment="prodotti" xmlns:th="http://www.thymeleaf.org">

	<div class="listProdottiStyle mt-4 p-3">

		<h1>Prodotti</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo</th>
					<th scope="col" style="font-weight: bold;">Alcolicita'</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prodotto : ${listaProdotti}">
					<td th:text="${prodotto.descrizione}" />
					<td
						th:text="${#numbers.formatDecimal(prodotto.prezzo,
		       1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td class="table-success"
						th:if="${prodotto.bevandaAlcolica == false}">Non Alcolico</td>
					<td class="table-danger"
						th:if="${prodotto.bevandaAlcolica == true}">Alcolico</td>

					<td><a
						th:href="@{/user/aggiungi-al-carrello/(idProdotto=${prodotto.id})}">
							<button type="button" class="btn btn-success">
								<i class="fas fa-cart-plus"></i>
							</button>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>

</th:block>




<!-- PAGINA PROFILO -->

<th:block th:fragment="profilo" xmlns:th="http://www.thymeleaf.org">

	<div class="row">

		<div class="col-md-6">

			<div class="divStyleCardProfilo mt-4 p-4">

				<h1>Scheda Profilo</h1>

				<div class="card mt-4 mb-4" style="width: 22rem; margin: 0 auto;">

					<img src="../img/default-img.jpg" class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title"
							th:text="${session.accountLog.idContatto.cognome + ' ' + session.accountLog.idContatto.nome}"></h5>
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item"
							th:text="'Username : ' + ${session.accountLog.username}"></li>
						<li class="list-group-item"
							th:text="'Email : ' + ${session.accountLog.idContatto.email}"></li>
						<li class="list-group-item"
							th:text="'Codice Fiscale : ' + ${session.accountLog.idContatto.codiceFiscale}"></li>
						<li class="list-group-item"
							th:text="'Telefono : ' + ${session.accountLog.idContatto.telefono}"></li>
						<li class="list-group-item"
							th:text="'Via : ' + ${session.accountLog.idContatto.idIndirizzo.via
					    + ' , ' + session.accountLog.idContatto.idIndirizzo.citta + ' , ' + session.accountLog.idContatto.idIndirizzo.stato}"></li>
					</ul>

					<div class="card-body">
						<a href="/user/pagina-modifica-profilo">
							<button type="button" class="btn btn-warning">Modifica Account</button></a> 
							&nbsp; 
						<a th:attr="onclick=|disableAccount('${session.accountLog.id}')|">
							<button type="button" class="btn btn-danger"
							data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Elimina Account</button></a>
					</div>

				</div>

			</div>

		</div>
		<!-- col-md-6 -->



		<div class="col-md-6">

			<div class="listFattureUtenteStyle mt-4 p-4">

				<h1>I tuoi Ordini</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="font-weight: bold;">Numero Fattura</th>
							<th scope="col" style="font-weight: bold;">Data</th>
							<th scope="col" style="font-weight: bold;">Totale</th>
							<th scope="col" style="font-weight: bold;">Dettagli</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="fattura : ${session.listFattureCliente}">
							<td th:text="${fattura.numero}" />
							<td th:text="${fattura.data}" />
							<td
								th:text="${#numbers.formatDecimal(fattura.totale, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

							<!-- funzione thymeleaf per passare un parametro ad una funzione javascript -->

							<td><a
								th:href="@{/user/dettagli-fattura/(idFattura=${fattura.id})}">
									<button type="button" class="btn btn-primary">
										<i class="fas fa-info"></i>
									</button>
							</a></td>
						</tr>
					</tbody>
				</table>

			</div>

		</div>
		<!-- col-md-6 -->

	</div>
	<!-- row -->

	<!-- Modal per conferma eliminazione account -->

	<div class="modal fade" th:id="deleteAccountModal" tabindex="-1"
		aria-labelledby="deleteAccountLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteAccountLabel">Eliminazione
						Account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Sei sicuro di voler eliminare questo account? <br> Non potrai
					piu' effettuare l'accesso con quest'ultimo...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Annulla</button>
					<a id="bottoneEliminazioneAccount"><button type="button"
							class="btn btn-danger">Elimina</button></a>
				</div>
			</div>
		</div>
	</div>


	<!-- Modal per dettagli fattura -->

	<div class="modal fade" th:id="getDettagliFatturaModal" tabindex="-1"
		aria-labelledby="dettagliFatturaLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dettagliFatturaLabel">Dettagli
						Fattura</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Indietro</button>
				</div>
			</div>
		</div>
	</div>

</th:block>




<!-- PAGINA MODIFICA PROFILO -->

<th:block th:fragment="modifica-profilo"
	xmlns:th="http://www.thymeleaf.org">

	<div class="formModificaAccountStyle mt-4 p-3">

		<h1>Modifica Account</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${msgUpdateError != null}" th:text="${msgUpdateError}"></div>

		<form action="/user/modifica-profilo">

			<input type="hidden" name="idAccount" th:value="${session.accountLog.id}">

			<div class="row">

				<!-- Prima Sezione -->

				<div class="col md-6">

					<div class="row" style="margin: 0 auto;">

						<div class="col md-6 mt-3">
								<label for="username" class="form-label">Username: </label> <input
									type="text" name="username" class="form-control" maxlength="45"
									required="required" th:value="${session.accountLog.username}">
						</div>

						<div class="col md-4 mt-3">
								<label for="password" class="form-label">Password: </label> <input
									type="password" name="password" class="form-control" maxlength="20"
									required="required" th:value="${session.accountLog.password}">
						</div>

					</div>

					<input type="hidden" name = "idContatto" th:value="${session.accountLog.idContatto.id}">

					<div class="mb-3 mt-2">
						<label for="nome" class="form-label">Nome: </label> <input
							type="text" name="nome" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.nome}">
					</div>

					<div class="mb-3 mt-3">
						<label for="cognome" class="form-label">Cognome: </label> <input
							type="text" name="cognome" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.cognome}">
					</div>

					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Email: </label> <input
							type="text" name="email" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.email}">
					</div>

					<div class="mb-3 mt-3">
						<label for="codiceFiscale" class="form-label">Codice
							Fiscale: </label> <input type="text" name="codiceFiscale"
							class="form-control" maxlength="16" required="required"
							th:value="${session.accountLog.idContatto.codiceFiscale}">
					</div>

				</div>
				<!-- col md-6 -->


				<!-- Seconda Sezione -->

				<div class="col md-6">

					<div class="mb-2 mt-3">
						<label for="numero" class="form-label">Numero di Telefono:
						</label> <input type="text" name="numero" class="form-control"
							maxlength="12" required="required" th:value="${session.accountLog.idContatto.telefono}">
					</div>

					<input type="hidden" name = "idIndirizzo" th:value="${session.accountLog.idContatto.idIndirizzo.id}">

					<div class="mb-1">
						<label for="stato" class="form-label">Stato: </label> <input
							type="text" name="stato" class="form-control" required="required" 
							th:value="${session.accountLog.idContatto.idIndirizzo.stato}">
					</div>

					<div class="mb-3 mt-3">
						<label for="citta" class="form-label">Citta': </label> <input
							type="text" name="citta" class="form-control" required="required" 
							th:value="${session.accountLog.idContatto.idIndirizzo.citta}">
					</div>


					<div class="row">

						<div class="col md-6">
							<div>
								<label for="provincia" class="form-label">Provincia: </label> <input
									type="text" name="provincia" class="form-control"
									placeholder="Es: RM, MI, TO" maxlength="2" required="required"
									th:value="${session.accountLog.idContatto.idIndirizzo.provincia}">
							</div>
						</div>

						<div class="col md-6">
							<div>
								<label for="cap" class="form-label">Cap: </label> <input
									type="text" name="cap" class="form-control" required="required"
									th:value="${session.accountLog.idContatto.idIndirizzo.cap}">
							</div>
						</div>

					</div>

					<div class="mb-3 mt-3">
						<label for="via" class="form-label">Via: </label> <input
							type="text" name="via" class="form-control" maxlength="60"
							required="required" th:value="${session.accountLog.idContatto.idIndirizzo.via}">
					</div>

				</div>

			</div>
			<!-- row -->

			<a href="/user/profilo">
				<button type="button" class="btn btn-secondary mt-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>
				&nbsp; &nbsp;

			<button type="submit" class="btn btn-warning mt-2">Modifica</button>

		</form>

	</div>
	<!-- formModificaAccountStyle -->

</th:block>




<!-- PAGINA DETTAGLI FATTURA -->

<th:block th:fragment="dettagli-fattura"
	xmlns:th="http://www.thymeleaf.org">

	<div class="listDettagliFatturaStyle mt-4 p-3">

		<h1>Dettagli Fattura</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Quantita'</th>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo</th>
					<th scope="col" style="font-weight: bold;">Totale</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="dettaglio : ${listaDettagliFattura}">
					<td th:text="${dettaglio.quantita}" />
					<td th:text="${dettaglio.idProdotto.descrizione}" />

					<td
						th:text="${#numbers.formatDecimal(dettaglio.prezzoUnitario, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td
						th:text="${#numbers.formatDecimal(dettaglio.prezzoUnitario * dettaglio.quantita, 
				      1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;"
						style="color: gray; font-weight: bold;" />

				</tr>
			</tbody>
		</table>

		<h5>
			Totale Fattura: <b
				th:text="${#numbers.formatDecimal(totalDettagliPrice,
			1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;"></b>
		</h5>

		<a th:if="${session.accountRole eq 'U'}" href="/user/profilo">
			<button type="button" class="btn btn-secondary mt-3 mb-2">
				<i class="fas fa-angle-left"></i> Indietro
			</button>
		</a> <a th:if="${session.accountRole eq 'A'}" href="/admin/ordini">
			<button type="button" class="btn btn-secondary mt-3 mb-2">
				<i class="fas fa-angle-left"></i> Indietro
			</button>
		</a>

	</div>

</th:block>




<!-- PAGINA CARRELLO -->

<th:block th:fragment="carrello" xmlns:th="http://www.thymeleaf.org">

	<div class="listCarrelloStyle mt-4 p-3">

		<h1>Carrello</h1>

		<div class="alert alert-success" role="alert"
			th:if="${orderPlaced != null}">
			<i class="fas fa-check-circle"></i> Ordine effettuato! <a
				href="/user/profilo" class="alert-link"> Controlla sul profilo </a>
		</div>

		<table class="table mb-4">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo Univoco</th>
					<th scope="col" style="font-weight: bold;"></th>
					<th scope="col" style="font-weight: bold;">Quantita'</th>
					<th scope="col" style="font-weight: bold;"></th>
					<th scope="col" style="font-weight: bold;">Totale</th>
					<th scope="col" style="font-weight: bold;"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="carrello : ${session.listCarrelloByAccountId}">

					<td th:text="${carrello.idProdotto.descrizione}" />

					<td
						th:text="${#numbers.formatDecimal(carrello.idProdotto.prezzo, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td><a th:if="${carrello.quantita == 1}"
						th:href="@{/user/rimuovi-dal-carrello/(idCarrello=${carrello.id})}">
							<button type="button" class="btn btn-danger">
								<i class="fas fa-minus"></i>
							</button>
					</a> <a th:if="${carrello.quantita > 1}"
						th:href="@{/user/diminuisci-quantita-carrello/(idCarrello=${carrello.id})}">
							<button type="button" class="btn btn-danger">
								<i class="fas fa-minus"></i>
							</button>
					</a></td>

					<td th:text="${carrello.quantita}" />

					<td><a
						th:href="@{/user/aumenta-quantita-carrello/(idCarrello=${carrello.id})}"><button
								type="button" class="btn btn-success">
								<i class="fas fa-plus"></i>
							</button></a></td>

					<td
						th:text="${#numbers.formatDecimal(carrello.idProdotto.prezzo * carrello.quantita, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td><a
						th:href="@{/user/rimuovi-dal-carrello/(idCarrello=${carrello.id})}"><button
								type="button" class="btn btn-danger">Rimuovi</button></a></td>

				</tr>
			</tbody>
		</table>

		<div th:if="${totalPrice != 0}">
			<h5>
				Prezzo Totale : <b
					th:text="${#numbers.formatDecimal(totalPrice, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;"></b>
			</h5>
			<a href="/user/ordina-prodotti"><button type="button"
					class="btn btn-success mt-2 mb-2">Ordina</button></a>
		</div>

	</div>

</th:block>