<!-- PAGINA HOME -->

<th:block th:fragment="home" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/home-page.html :: homePage-1"></div>
</th:block>




<!-- PAGINA PRODOTTI -->

<th:block th:fragment="prodotti" xmlns:th="http://www.thymeleaf.org">
	<div class="listProdottiStyle mt-4 p-3">

		<h1>- Prodotti -</h1>

		<div style="color: gray; font-size: 16px">- Per poter acquistare
			i seguenti prodotti bisogna prima effettuare il login -</div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo</th>
					<th scope="col" style="font-weight: bold;">Alcolicita'</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prodotto : ${listaProdotti}">
					<td th:text="${prodotto.descrizione}" />
					<td
						th:text="${#numbers.formatDecimal(prodotto.prezzo,
		       1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td class="table-success"
						th:if="${prodotto.bevandaAlcolica == false}">Non Alcolico</td>
					<td class="table-danger"
						th:if="${prodotto.bevandaAlcolica == true}">Alcolico</td>

				</tr>
			</tbody>
		</table>

	</div>
</th:block>




<!-- PAGINA LOGIN -->

<th:block th:fragment="login" xmlns:th="http://www.thymeleaf.org">

	<div class="formStyleLogin mt-5 p-4">

		<h1>
			Login <i class="fas fa-cocktail"></i>
		</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${messaggioErrore != null}" th:text="${messaggioErrore}"></div>

		<form action="/undefined/login">

			<div class="mb-3 mt-4">
				<label for="exampleInputEmail1" class="form-label"><b>Username
						: </b></label> <input type="text" name="username" class="form-control">
			</div>

			<div class="mb-3 mt-3">
				<label for="exampleInputPassword1" class="form-label"><b>Password
						: </b></label> <input type="password" name="password" class="form-control"
					id="psw">
			</div>

			<div class="mb-3 mt-1">
				<input type="checkbox" onclick="showPassword()"> Mostra
				password
			</div>

			<button type="submit" class="btn btn-primary mt-2">Accedi</button>

		</form>

		<br>

		<div style="color: gray; font-size: 15px">Non sei ancora
			registrato?</div>
		<a href="/undefined/pagina-registrazione">Registrati</a>

	</div>

</th:block>




<!-- PAGINA REGISTRAZIONE -->

<th:block th:fragment="registrazione"
	xmlns:th="http://www.thymeleaf.org">

	<div class="formStyleRegistrazione mt-5 p-3">

		<h1>Registrazione</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${msgErrorRegistration != null}"
			th:text="${msgErrorRegistration}"></div>

		<form action="/undefined/registrazione">

			<div class="row">

				<!-- Prima Sezione -->

				<div class="col md-6">

					<div class="row" style="margin: 0 auto;">

						<div class="col md-6 mt-3">
								<label for="username" class="form-label">Username: </label> <input
									type="text" name="username" class="form-control" maxlength="45"
									required="required">
						</div>

						<div class="col md-6 mt-3">
								<label for="password" class="form-label">Password: </label> <input
									type="text" name="password" class="form-control" maxlength="20"
									required="required">
						</div>

					</div>


					<div class="mb-3 mt-2">
						<label for="nome" class="form-label">Nome: </label> <input
							type="text" name="nome" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="cognome" class="form-label">Cognome: </label> <input
							type="text" name="cognome" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Email: </label> <input
							type="text" name="email" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="codiceFiscale" class="form-label">Codice
							Fiscale: </label> <input type="text" name="codiceFiscale"
							class="form-control" maxlength="16" required="required">
					</div>

				</div>
				<!-- col md-6 -->


				<!-- Seconda Sezione -->

				<div class="col md-6">

					<div class="mb-2 mt-3">
						<label for="numero" class="form-label">Numero di Telefono:
						</label> <input type="text" name="numero" class="form-control"
							maxlength="12" required="required">
					</div>

					<div class="mb-1">
						<label for="stato" class="form-label">Stato: </label> <input
							type="text" name="stato" class="form-control" required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="citta" class="form-label">Citta': </label> <input
							type="text" name="citta" class="form-control" required="required">
					</div>


					<div class="row">

						<div class="col md-6">
							<div>
								<label for="provincia" class="form-label">Provincia: </label> <input
									type="text" name="provincia" class="form-control"
									placeholder="Es: RM, MI, TO" maxlength="2" required="required">
							</div>
						</div>

						<div class="col md-6">
							<div>
								<label for="cap" class="form-label">Cap: </label> <input
									type="text" name="cap" class="form-control" required="required">
							</div>
						</div>

					</div>

					<div class="mb-3 mt-3">
						<label for="via" class="form-label">Via: </label> <input
							type="text" name="via" class="form-control" maxlength="60"
							required="required">
					</div>

				</div>

			</div>
			<!-- row -->

			<a href="/undefined/pagina-login">
				<button type="button" class="btn btn-secondary mt-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>
				&nbsp; &nbsp;
			<button type="submit" class="btn btn-primary mt-2">Registrati</button>

		</form>

	</div>
	<!-- formStyleRegistrazione -->

</th:block>

