<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:if="${session.accountRole eq 'U'}">
<head>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/user.css">
<meta charset="ISO-8859-1">
<title th:text="${'Bevit - ' + currentPage}"></title>
</head>
<body class="backgroundUser">

	<div th:replace="fragments/navbars.html :: navbarUser"></div>
	
	<th:block th:replace="user-role/components/user-pages.html :: ${currentPage}"></th:block>
	
</body>
</html>