<th:block th:fragment = "homePage-1" xmlns:th="http://www.thymeleaf.org">

		<div class="divHomeBevit mt-4 p-4">
			
			<div class="row">
			
				<div class="col md-5" style="text-align: center;">
				
					<h1 style="color: orange; font-size: 100px; font-family: Bookman Old Style, serif;"> Bevit <i class="fas fa-cocktail"></i></h1>
					
					<br>
					
					<div style="font-family: cursive; font-size: 19px;"> 
						Bevit accoglie i suoi ospiti a ridosso della splendida
						spiaggia di Ostia. <br> <br>
						Cocktail, bibite e bevande alcoliche e analcoliche, 
						sono il giusto biglietto
						da visita, degnamente accompagnato da un servizio puntuale 
						e dinamico,
						oltre che dall'inconfondibile vista sul mare di cui gode il 
						nostro locale. <br> <br>
						Lasciatevi cullare dal dolce suono delle onde, respirate 
						il profumo della salsedine e della macchia mediterranea 
						e, nel frattempo, godetevi un ottimo aperitivo in riva al 
						mare ad Ostia, sorseggiando la vostra bevanda preferita e 
						chiacchierando con amici e colleghi. <br> <br>
						
						Ci trovate in via XXXXXXXXX XXX, 00121, Roma.
					</div> <!-- 14 row -->
				
				</div> <!-- col md-5 -->
			
				
				<div class="col md-7">
					
					<img src="../img/foto_bevit.jpg" width="1000px" style="float: right; border-radius:10px">
							
				</div> <!-- col md-7 -->
					
			</div> <!-- row -->
			
			<br>
			
			<div class="row">
			
				<div class="col md-4">
					
					<img alt="" src="../img/mascherina.jpg" width="170px" style="float: left;">
					&nbsp;
					<div style="text-align: center; margin-top: 10px">			
						In questo locale e' obbligatorio <br>
						l'uso della mascherina. <br>
						I clienti sprovvisti del certificato 
						vaccinale (Green Pass) non potranno
						consumare i prodotti all' interno
						del locale.					
					</div>
				
				</div>
				
				<div class="col md-4">		
					<img alt="" src="../img/igenizzazione_mani.jpg" width="170px" style="float: left;">
					&nbsp;
					<div style="text-align: center; margin-top: 10px">
						Prima di entrare nel locale e'
						pregato l'uso dell' igenizzante
						per mani posto all' ingresso. <br>
						In questo locale si effettua la 
						sanificazione dei tavoli in
						ottemperanza del protocollo Salute e 
						Sicurezza del <a href="https://www.governo.it/it/articolo/covid-19-il-presidente-draghi-firma-il-nuovo-dpcm/16343">
						 DPCM 2 marzo 2021. </a>
						
						
					</div>
				</div>
				
				<div class="col md-4">
				
					<img alt="" src="../img/disabili.jpg" width="170px" style="float: left;">
					&nbsp;
					<div style="text-align: center; margin-top: 15px">
						La struttura presenta per le persone <br>
						con disabilita' motorie parcheggio 
						riservato e rampa per facilitare loro 
						l' accesso al locale.
						<br>
					</div>
				</div>
			
			</div>
			
		</div>

</th:block>



<th:block th:fragment = "homePage-2" xmlns:th="http://www.thymeleaf.org">

<!-- Qui e' possibile creare un ulteriore homePage -->

</th:block>



<th:block th:fragment = "homePage-3" xmlns:th="http://www.thymeleaf.org">

<!-- Qui e' possibile creare un ulteriore homePage -->

</th:block>

