<!-- NavBar per utenti comuni -->
<th:block th:fragment = "navbarUndefined" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" src="/js/undefined.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: orange; font-size: 27px; font-family: fantasy;">Bevit <i class="fas fa-cocktail"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      
	        <li class="nav-item">
	          <a class="nav-link" href="/undefined/home" style="font-weight: bold;">Home <i class="fas fa-home"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/undefined/prodotti" style="font-weight: bold;">Prodotti <i class="fas fa-utensils"></i></a>
	        </li>
	        
	      </ul>
	        
	      <div><a href="/undefined/pagina-login"><button class="btn btn-success" type="button">Login <i class="fas fa-sign-in-alt"></i></button></a></div>
            
    </div>
  </div>
</nav>

</th:block>



<!-- NavBar per utenti User -->
<th:block th:fragment = "navbarUser" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:inline="javascript" src="/js/user.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: orange; font-size: 27px; font-family: fantasy;">Bevit <i class="fas fa-cocktail"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      
	        <li class="nav-item">
	          <a class="nav-link" href="/user/home" style="font-weight: bold;">Home <i class="fas fa-home"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/user/prodotti" style="font-weight: bold;">Prodotti <i class="fas fa-utensils"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/user/profilo" style="font-weight: bold;">Profilo <i class="fas fa-user-alt"></i></a>
	        </li>
	        
	      </ul>
	        
	      <div><a th:href="@{/user/carrello/(idAccount=${session.accountLog.id})}">
	      <button class="btn btn-success" type="button">Carrello <i class="fas fa-shopping-cart"></i>
	      <b th:if="${session.productsInCarrello > 0}" th:text="${'(' + session.productsInCarrello + ')'}"></b></button></a></div>
	        
	      &nbsp; &nbsp;
	      <div><a href="/appBevit"><button class="btn btn-danger" type="button">Logout <i class="fas fa-sign-out-alt"></i></button></a></div>
            
    </div>
  </div>
</nav>

</th:block>



<!-- NavBar per utenti Admin -->
<th:block th:fragment = "navbarAdmin" xmlns:th="http://www.thymeleaf.org">

<script type="text/javascript" th:inline="javascript" src="/js/admin.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: orange; font-size: 27px; font-family: fantasy;">Bevit <i class="fas fa-cocktail"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	      
	        <li class="nav-item">
	          <a class="nav-link" href="/admin/home" style="font-weight: bold;">Home <i class="fas fa-home"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/admin/prodotti" style="font-weight: bold;">Prodotti <i class="fas fa-utensils"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/admin/ordini" style="font-weight: bold;">Ordini <i class="fas fa-list-ul"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/admin/utenti" style="font-weight: bold;">Utenti <i class="fas fa-users"></i></a>
	        </li>
	        
	        <li class="nav-item">
	          <a class="nav-link" href="/admin/profilo" style="font-weight: bold;">Profilo <i class="fas fa-user-alt"></i></a>
	        </li>
	        
	      </ul>
	        
	      <div><a href="/appBevit"><button class="btn btn-danger" type="button">Logout <i class="fas fa-sign-out-alt"></i></button></a></div>
            
    </div>
  </div>
</nav>

</th:block>