<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:if="${session.accountRole eq 'A'}">
<head>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin.css">
<meta charset="ISO-8859-1">
<title th:text="${'Bevit - ' + currentPage}"></title>
</head>
<body class="backgroundAdmin">

	<div th:replace="fragments/navbars.html :: navbarAdmin"></div>
	
	<th:block th:replace="admin-role/components/admin-pages.html :: ${currentPage}"></th:block>

</body>
</html>