<!-- PAGINA HOME -->

<th:block th:fragment="home" xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/home-page.html :: homePage-1"></div>
</th:block>




<!-- PAGINA PRODOTTI -->

<th:block th:fragment="prodotti" xmlns:th="http://www.thymeleaf.org">

	<div class="listProdottiStyle mt-4 p-3">

		<h1>- Prodotti -</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo</th>
					<th scope="col" style="font-weight: bold;">Alcolicita'</th>
					<th></th>
					<th><a href="/admin/pagina-inserimento-prodotto"><button
								type="button" class="btn btn-success">
								<i class="fas fa-plus"></i>
							</button></a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prodotto : ${listaProdotti}">
					<td th:text="${prodotto.descrizione}" />
					<td
						th:text="${#numbers.formatDecimal(prodotto.prezzo,
		       1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td class="table-success"
						th:if="${prodotto.bevandaAlcolica == false}">Non Alcolico</td>
					<td class="table-danger"
						th:if="${prodotto.bevandaAlcolica == true}">Alcolico</td>

					<!-- funzione thymeleaf per passare un parametro -->

					<td><a
						th:href="@{/admin/pagina-modifica-prodotto/(idProdotto=${prodotto.id})}"><button
								type="button" class="btn btn-warning">
								<i class="fas fa-pencil-alt"></i>
							</button></a></td>
					<td><a th:attr="onclick=|deleteProduct('${prodotto.id}')|"><button
								type="button" class="btn btn-danger" data-bs-toggle="modal"
								data-bs-target="#deleteProductModal">
								<i class="fas fa-trash-alt"></i>
							</button></a></td>
				</tr>
			</tbody>
		</table>

	</div>

	<!-- Modal per eliminazione prodotto -->

	<div class="modal fade" th:id="deleteProductModal" tabindex="-1"
		aria-labelledby="deleteProductLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteProductLabel">Eliminazione
						Prodotto</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">Sei sicuro di voler eliminare questo
					prodotto?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Annulla</button>
					<a id="bottoneEliminazioneProdotto"><button type="button"
							class="btn btn-danger">Elimina</button></a>
				</div>
			</div>
		</div>
	</div>

</th:block>




<!-- PAGINA PRODOTTO-ACTIONS -->

<th:block th:fragment="prodotto-actions"
	xmlns:th="http://www.thymeleaf.org">

	<div class="divStyleProdottoActions mt-5 p-3">

		<h1 th:if="${action == 'insert'}">Inserimento Prodotto</h1>
		<h1 th:if="${action == 'update'}">Modifica Prodotto</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${msgProdottoError != null}" th:text="${msgProdottoError}"></div>

		<!-- Il form visualizzato a schermo dipenderÓ dall'action che l'admin intende compiere -->
		<!-- l'attributo 'action' viene valorizzato in org.web.controllers.admin nella classe AdminController -->


		<!-- insert -->

		<form action="/admin/inserimento-prodotto"
			th:if="${action == 'insert'}" class="formStyleProdottoActions">

			<div class="mt-4">
				<label for="nome" class="form-label">Nome Prodotto: </label> <input
					type="text" name="nome" class="form-control" maxlength="45"
					required="required">
			</div>


			<div class="mt-3">
				<label for="gradazione" class="form-label">Gradazione: </label> <select
					class="form-select" aria-label="Default select example"
					name="gradazione" required="required">
					<!-- impostare il valore nullo ad un option con attributo selected mi permette insieme al 
				  	 	  required di renderlo un campo necessario -->
					<option selected value="">- Scegli Gradazione -</option>
					<option value="true">Alcolica</option>
					<option value="false">Non Alcolica</option>
				</select>
			</div>


			<div class="mt-3">
				<label for="prezzo" class="form-label">Prezzo: </label> <input
					type="text" name="prezzo" class="form-control" maxlength="7"
					required="required" placeholder="0,00">
			</div>


			<div class="mt-3">
				<label for="aliquota" class="form-label">Aliquota Iva: </label> <select
					class="form-select" aria-label="Default select example"
					name="aliquota" required="required">
					<!-- impostare il valore nullo ad un option con attributo selected mi permette insieme al 
				  	 	  required di renderlo un campo necessario -->
					<option selected value="">- Scegli Aliquota Iva -</option>
					<option value="4">4%</option>
					<option value="10">10%</option>
					<option value="10">22%</option>
				</select>
			</div>


			<a href="/admin/prodotti">
				<button type="button" class="btn btn-secondary mt-4 mb-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>
				&nbsp; &nbsp;
			<button type="submit" class="btn btn-success mt-4 mb-2">Inserisci
				Prodotto</button>

		</form>



		<!-- update -->

		<form action="/admin/modifica-prodotto" th:if="${action == 'update'}"
			class="formStyleProdottoActions">

			<input type="hidden" name="id" th:value="${prodottoToUpdate.id}">

			<div class="mt-4">
				<label for="nome" class="form-label">Nome Prodotto: </label> <input
					type="text" th:value="${prodottoToUpdate.descrizione}" name="nome"
					class="form-control" maxlength="45" required="required">
			</div>


			<div class="mt-3">
				<label for="gradazione" class="form-label">Gradazione: </label> <select
					class="form-select" aria-label="Default select example"
					name="gradazione" required="required">

					<option selected th:value="${prodottoToUpdate.bevandaAlcolica}"
						th:if="${prodottoToUpdate.bevandaAlcolica == true}">
						Alcolica</option>
					<option selected th:value="${prodottoToUpdate.bevandaAlcolica}"
						th:if="${prodottoToUpdate.bevandaAlcolica == false}">Non
						Alcolica</option>

					<option value="true"
						th:if="${prodottoToUpdate.bevandaAlcolica == false}">Alcolica</option>
					<option value="false"
						th:if="${prodottoToUpdate.bevandaAlcolica == true}">Non
						Alcolica</option>

				</select>
			</div>


			<div class="mt-3">
				<label for="prezzo" class="form-label">Prezzo: </label> <input
					type="text" th:value="${prodottoToUpdate.prezzo}" name="prezzo"
					class="form-control" maxlength="7" required="required"
					placeholder="0,00">
			</div>


			<div class="mt-3">
				<label for="aliquota" class="form-label">Aliquota Iva: </label> <select
					class="form-select" aria-label="Default select example"
					name="aliquota" required="required">
					<!-- impostare il valore nullo ad un option con attributo selected mi permette insieme al 
				  	 	  required di renderlo un campo necessario -->
					<option th:text="${prodottoToUpdate.aliquotaIva + ' ' + '%'}"
						th:value="${prodottoToUpdate.aliquotaIva}" selected></option>
					<option th:if="${prodottoToUpdate.aliquotaIva != 4}" th:value="4"
						th:text="4 + ' ' + '%' "></option>
					<option th:if="${prodottoToUpdate.aliquotaIva != 10}" th:value="10"
						th:text="10 + ' ' + '%' "></option>
					<option th:if="${prodottoToUpdate.aliquotaIva != 22}" th:value="22"
						th:text="22 + ' ' + '%' "></option>
				</select>
			</div>


			<a href="/admin/prodotti">
				<button type="button" class="btn btn-secondary mt-4 mb-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a> 
				&nbsp; &nbsp;
			<button type="submit" class="btn btn-warning mt-4 mb-2">Modifica</button>

		</form>

	</div>

</th:block>




<!-- PAGINA ORDINI -->

<th:block th:fragment="ordini" xmlns:th="http://www.thymeleaf.org">

	<div class="listOrdiniStyle mt-4 p-3">

		<h1>- Ordini -</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Numero Fattura</th>
					<th scope="col" style="font-weight: bold;">Id Cliente</th>
					<th scope="col" style="font-weight: bold;">Data</th>
					<th scope="col" style="font-weight: bold;">Totale</th>
					<th scope="col" style="font-weight: bold;">Dettagli</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ordine : ${listaOrdini}">
					<td th:text="${ordine.numero}" />
					<td th:text="${ordine.idAccount.id}" />
					<td th:text="${ordine.data}" />
					<td
						th:text="${#numbers.formatDecimal(ordine.totale, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<!-- funzione thymeleaf per passare un parametro ad una funzione javascript -->

					<td><a
						th:href="@{/admin/dettagli-fattura/(idFattura=${ordine.id})}">
							<button type="button" class="btn btn-primary">
								<i class="fas fa-info"></i>
							</button>
					</a></td>
				</tr>
			</tbody>
		</table>

	</div>

</th:block>




<!-- PAGINA DETTAGLI FATTURA -->

<th:block th:fragment="dettagli-fattura"
	xmlns:th="http://www.thymeleaf.org">

	<div class="listDettagliFatturaStyle mt-4 p-3">

		<h1>Dettagli Fattura</h1>

		<table class="table">
			<thead>
				<tr>
					<th scope="col" style="font-weight: bold;">Quantita'</th>
					<th scope="col" style="font-weight: bold;">Nome Bevanda</th>
					<th scope="col" style="font-weight: bold;">Prezzo</th>
					<th scope="col" style="font-weight: bold;">Totale</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="dettaglio : ${listaDettagliFattura}">
					<td th:text="${dettaglio.quantita}" />
					<td th:text="${dettaglio.idProdotto.descrizione}" />

					<td
						th:text="${#numbers.formatDecimal(dettaglio.prezzoUnitario, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

					<td
						th:text="${#numbers.formatDecimal(dettaglio.prezzoUnitario * dettaglio.quantita, 
				      1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;"
						style="color: gray; font-weight: bold;" />

				</tr>
			</tbody>
		</table>

		<h5>
			Totale Fattura: <b
				th:text="${#numbers.formatDecimal(totalDettagliPrice,
				 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;"></b>
		</h5>

		<a th:if="${session.accountRole eq 'U'}" href="/user/profilo">
			<button type="button" class="btn btn-secondary mt-3 mb-2">
				<i class="fas fa-angle-left"></i> Indietro
			</button>
		</a> <a th:if="${session.accountRole eq 'A'}" href="/admin/ordini">
			<button type="button" class="btn btn-secondary mt-3 mb-2">
				<i class="fas fa-angle-left"></i> Indietro
			</button>
		</a>

	</div>

</th:block>




<!-- PAGINA UTENTI -->

<th:block th:fragment="utenti" xmlns:th="http://www.thymeleaf.org">

	<div class="divStyleUtenti mt-4 p-3">

		<h1>- Utenti -</h1>

		<nav class="navbar navbar-light bg-light">
			<div class="container-fluid">

				<ul class="nav nav-pills" id="pills-tab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="pills-user-tab"
							data-bs-toggle="pill" data-bs-target="#pills-user" type="button"
							role="tab" aria-controls="pills-user" aria-selected="true">Utenti
							User</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="pills-admin-tab"
							data-bs-toggle="pill" data-bs-target="#pills-admin" type="button"
							role="tab" aria-controls="pills-admin" aria-selected="false">Utenti
							Admin</button>
					</li>
				</ul>

				<a href="/admin/pagina-inserimento-account"><button
						type="button" class="btn btn-success">
						Aggiungi <i class="fas fa-plus"></i>
					</button></a>

				<form action="/admin/cerca-utenti" class="d-flex">
					<input class="form-control me-3" type="search" name="nome"
						placeholder="Nome" style="width: 130px"> <input
						class="form-control me-3" type="search" name="cognome"
						placeholder="Cognome" style="width: 130px">
					<button class="btn btn-outline-success" type="submit">Cerca</button>
				</form>
			</div>
		</nav>

		<div class="tab-content mt-3" id="pills-tabContent">

			<!-- Lista utenti con il ruolo 'U' -->

			<div class="tab-pane fade show active" id="pills-user"
				role="tabpanel" aria-labelledby="pills-user-tab">

				<table class="table">
					<thead>
						<tr>

							<th scope="col" style="font-weight: bold;">Nome</th>
							<th scope="col" style="font-weight: bold;">Cognome</th>
							<th scope="col" style="font-weight: bold;">Email</th>
							<th scope="col" style="font-weight: bold;">Telefono</th>
							<th scope="col" style="font-weight: bold;">Stato</th>
							<th scope="col" style="font-weight: bold;">Citta'</th>
							<th scope="col" style="font-weight: bold;">Info</th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="account : ${listUser}">

							<td th:text="${account.idContatto.nome}" />
							<td th:text="${account.idContatto.cognome}" />
							<td th:text="${account.idContatto.email}" />
							<td th:text="${account.idContatto.telefono}" />
							<td th:text="${account.idContatto.idIndirizzo.stato}" />
							<td th:text="${account.idContatto.idIndirizzo.citta}" />
							<td><a
								th:href="@{/admin/info-utente/(idAccount=${account.id})}">
									<button type="button" class="btn btn-primary">
										<i class="fas fa-info"></i>
									</button>
							</a></td>

						</tr>
					</tbody>
				</table>

			</div>


			<!-- Lista utenti con il ruolo 'A' -->

			<div class="tab-pane fade" id="pills-admin" role="tabpanel"
				aria-labelledby="pills-admin-tab">

				<table class="table">
					<thead>
						<tr>
							<th scope="col" style="font-weight: bold;">Nome</th>
							<th scope="col" style="font-weight: bold;">Cognome</th>
							<th scope="col" style="font-weight: bold;">Email</th>
							<th scope="col" style="font-weight: bold;">Telefono</th>
							<th scope="col" style="font-weight: bold;">Stato</th>
							<th scope="col" style="font-weight: bold;">Citta'</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="account : ${listAdmin}">
							<td th:text="${account.idContatto.nome}" />
							<td th:text="${account.idContatto.cognome}" />
							<td th:text="${account.idContatto.email}" />
							<td th:text="${account.idContatto.telefono}" />
							<td th:text="${account.idContatto.idIndirizzo.stato}" />
							<td th:text="${account.idContatto.idIndirizzo.citta}" />
						</tr>
					</tbody>
				</table>

			</div>

		</div>


	</div>
	<!-- divStyleUtenti -->

</th:block>




<!-- PAGINA INSERIMENTO ACCOUNTS -->

<th:block th:fragment="inserimento-account"
	xmlns:th="http://www.thymeleaf.org">

	<div class="divInserimentoAccountStyle mt-4 p-3">

		<h1>- Inserimento Utente -</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${msgInsertError != null}" th:text="${msgInsertError}"></div>

		<form action="/admin/inserimento-account"
			class="formInserimentoAccountStyle">

			<b>Ruolo: </b> <br> <input type="radio" id="u" name="role"
				value="U" checked="checked"> <label for="u">User</label>
			&nbsp; <input type="radio" id="a" name="role" value="A"> <label
				for="a">Admin</label><br>

			<div class="row">

				<!-- Prima Sezione -->

				<div class="col md-6">

					<div class="row" style="margin: 0 auto;">

						<div class="col md-6">
							<div class="mt-3">
								<label for="username" class="form-label">Username: </label> <input
									type="text" name="username" class="form-control" maxlength="45"
									required="required">
							</div>
						</div>

						<div class="col md-6">
							<div class="mt-3">
								<label for="password" class="form-label">Password: </label> <input
									type="text" name="password" class="form-control" maxlength="20"
									required="required">
							</div>
						</div>

					</div>


					<div class="mb-3 mt-2">
						<label for="nome" class="form-label">Nome: </label> <input
							type="text" name="nome" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="cognome" class="form-label">Cognome: </label> <input
							type="text" name="cognome" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Email: </label> <input
							type="text" name="email" class="form-control" maxlength="45"
							required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="codiceFiscale" class="form-label">Codice
							Fiscale: </label> <input type="text" name="codiceFiscale"
							class="form-control" maxlength="16" required="required">
					</div>

				</div>
				<!-- col md-6 -->


				<!-- Seconda Sezione -->

				<div class="col md-6">

					<div class="mb-2 mt-3">
						<label for="numero" class="form-label">Numero di Telefono:
						</label> <input type="text" name="numero" class="form-control"
							maxlength="12" required="required">
					</div>

					<div class="mb-1">
						<label for="stato" class="form-label">Stato: </label> <input
							type="text" name="stato" class="form-control" required="required">
					</div>

					<div class="mb-3 mt-3">
						<label for="citta" class="form-label">Citta': </label> <input
							type="text" name="citta" class="form-control" required="required">
					</div>


					<div class="row">

						<div class="col md-6">
							<div>
								<label for="provincia" class="form-label">Provincia: </label> <input
									type="text" name="provincia" class="form-control"
									placeholder="Es: RM, MI, TO" maxlength="2" required="required">
							</div>
						</div>

						<div class="col md-6">
							<div>
								<label for="cap" class="form-label">Cap: </label> <input
									type="text" name="cap" class="form-control" required="required">
							</div>
						</div>

					</div>

					<div class="mb-2 mt-3">
						<label for="via" class="form-label">Via: </label> <input
							type="text" name="via" class="form-control" maxlength="60"
							required="required">
					</div>

				</div>
				<!-- col md-6 -->

			</div>
			<!-- row -->

			<a href="/admin/utenti">
				<button type="button" class="btn btn-secondary mt-4 mb-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>
				&nbsp;
				<a href="/admin/inserisci-account">
				<button type="submit" class="btn btn-success mt-4 mb-2">Inserisci</button></a>

		</form>

	</div>

</th:block>




<!-- PAGINA INFO UTENTE -->

<th:block th:fragment="info-utente" xmlns:th="http://www.thymeleaf.org">

	<div class="divInfoUtentiStyle mt-4 p-3">

		<h2 style="text-align: center;"><b th:text="'- ' +  ${accountInfo}"></b>
			<th:block th:if="${isEnable == true}"><i class="fas fa-user-check"></i> -</th:block>
			<th:block th:if="${isEnable == false}"><i class="fas fa-user-times"></i> -</th:block>			
		</h2>

		<div class="divTabellaOrdiniUtente">

			<table class="table">
				<thead>
					<tr>
						<th scope="col" style="font-weight: bold;">Numero Fattura</th>
						<th scope="col" style="font-weight: bold;">Data</th>
						<th scope="col" style="font-weight: bold;">Totale</th>
						<th scope="col" style="font-weight: bold;">Dettagli</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fattura : ${listFattureCliente}">
						<td th:text="${fattura.numero}" />
						<td th:text="${fattura.data}" />
						<td
							th:text="${#numbers.formatDecimal(fattura.totale, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ' + &euro;" />

						<!-- funzione thymeleaf per passare un parametro ad una funzione javascript -->

						<td><a
							th:href="@{/admin/dettagli-fattura/(idFattura=${fattura.id})}">
								<button type="button" class="btn btn-primary">
									<i class="fas fa-info"></i>
								</button>
						</a></td>
					</tr>
				</tbody>
			</table>

			<a href="/admin/utenti"><button type="button"
					class="btn btn-secondary mt-3 mb-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>

		</div>

	</div>

</th:block>




<!-- PAGINA PROFILO -->

<th:block th:fragment="profilo" xmlns:th="http://www.thymeleaf.org">

			<div class="divStyleCardProfilo mt-5 p-4">

				<h1>Scheda Profilo</h1>

				<div class="card mt-4 mb-4" style="width: 22rem; margin: 0 auto;">

					<img src="../img/default-img.jpg" class="card-img-top" alt="...">

					<div class="card-body">
						<h5 class="card-title"
							th:text="${session.accountLog.idContatto.cognome + ' ' + session.accountLog.idContatto.nome}"></h5>
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item"
							th:text="'Username : ' + ${session.accountLog.username}"></li>
						<li class="list-group-item"
							th:text="'Email : ' + ${session.accountLog.idContatto.email}"></li>
						<li class="list-group-item"
							th:text="'Codice Fiscale : ' + ${session.accountLog.idContatto.codiceFiscale}"></li>
						<li class="list-group-item"
							th:text="'Telefono : ' + ${session.accountLog.idContatto.telefono}"></li>
						<li class="list-group-item"
							th:text="'Via : ' + ${session.accountLog.idContatto.idIndirizzo.via
					    + ' , ' + session.accountLog.idContatto.idIndirizzo.citta + ' , ' + session.accountLog.idContatto.idIndirizzo.stato}"></li>
					</ul>

					<div class="card-body">
						<a href="/admin/pagina-modifica-profilo">
							<button type="button" class="btn btn-warning">Modifica Account</button></a> 
							&nbsp; 
						<a th:attr="onclick=|disableAccount('${session.accountLog.id}')|">
							<button type="button" class="btn btn-danger"
							data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Elimina Account</button></a>
					</div>

				</div>

			</div>

	<!-- Modal per conferma eliminazione account -->

	<div class="modal fade" th:id="deleteAccountModal" tabindex="-1"
		aria-labelledby="deleteAccountLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteAccountLabel">Eliminazione
						Account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Sei sicuro di voler eliminare questo account? <br> Non potrai
					piu' effettuare l'accesso con quest'ultimo...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Annulla</button>
					<a id="bottoneEliminazioneAccount"><button type="button"
							class="btn btn-danger">Elimina</button></a>
				</div>
			</div>
		</div>
	</div>


</th:block>




<!-- PAGINA MODIFICA PROFILO -->

<th:block th:fragment="modifica-profilo"
	xmlns:th="http://www.thymeleaf.org">

	<div class="formModificaAccountStyle mt-4 p-3">

		<h1>Modifica Account</h1>

		<div style="color: red; font-weight: bold;"
			th:if="${msgUpdateError != null}" th:text="${msgUpdateError}"></div>

		<form action="/admin/modifica-profilo">

			<input type="hidden" name="idAccount" th:value="${session.accountLog.id}">

			<div class="row">

				<!-- Prima Sezione -->

				<div class="col md-6">

					<div class="row" style="margin: 0 auto;">

						<div class="col md-6 mt-3">
								<label for="username" class="form-label">Username: </label> <input
									type="text" name="username" class="form-control" maxlength="45"
									required="required" th:value="${session.accountLog.username}">
						</div>

						<div class="col md-4 mt-3">
								<label for="password" class="form-label">Password: </label> <input
									type="password" name="password" class="form-control" maxlength="20"
									required="required" th:value="${session.accountLog.password}">
						</div>

					</div>

					<input type="hidden" name = "idContatto" th:value="${session.accountLog.idContatto.id}">

					<div class="mb-3 mt-2">
						<label for="nome" class="form-label">Nome: </label> <input
							type="text" name="nome" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.nome}">
					</div>

					<div class="mb-3 mt-3">
						<label for="cognome" class="form-label">Cognome: </label> <input
							type="text" name="cognome" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.cognome}">
					</div>

					<div class="mb-3 mt-3">
						<label for="email" class="form-label">Email: </label> <input
							type="text" name="email" class="form-control" maxlength="45"
							required="required" th:value="${session.accountLog.idContatto.email}">
					</div>

					<div class="mb-3 mt-3">
						<label for="codiceFiscale" class="form-label">Codice
							Fiscale: </label> <input type="text" name="codiceFiscale"
							class="form-control" maxlength="16" required="required"
							th:value="${session.accountLog.idContatto.codiceFiscale}">
					</div>

				</div>
				<!-- col md-6 -->


				<!-- Seconda Sezione -->

				<div class="col md-6">

					<div class="mb-2 mt-3">
						<label for="numero" class="form-label">Numero di Telefono:
						</label> <input type="text" name="numero" class="form-control"
							maxlength="12" required="required" th:value="${session.accountLog.idContatto.telefono}">
					</div>

					<input type="hidden" name = "idIndirizzo" th:value="${session.accountLog.idContatto.idIndirizzo.id}">

					<div class="mb-1">
						<label for="stato" class="form-label">Stato: </label> <input
							type="text" name="stato" class="form-control" required="required" 
							th:value="${session.accountLog.idContatto.idIndirizzo.stato}">
					</div>

					<div class="mb-3 mt-3">
						<label for="citta" class="form-label">Citta': </label> <input
							type="text" name="citta" class="form-control" required="required" 
							th:value="${session.accountLog.idContatto.idIndirizzo.citta}">
					</div>


					<div class="row">

						<div class="col md-6">
							<div>
								<label for="provincia" class="form-label">Provincia: </label> <input
									type="text" name="provincia" class="form-control"
									placeholder="Es: RM, MI, TO" maxlength="2" required="required"
									th:value="${session.accountLog.idContatto.idIndirizzo.provincia}">
							</div>
						</div>

						<div class="col md-6">
							<div>
								<label for="cap" class="form-label">Cap: </label> <input
									type="text" name="cap" class="form-control" required="required"
									th:value="${session.accountLog.idContatto.idIndirizzo.cap}">
							</div>
						</div>

					</div>

					<div class="mb-3 mt-3">
						<label for="via" class="form-label">Via: </label> <input
							type="text" name="via" class="form-control" maxlength="60"
							required="required" th:value="${session.accountLog.idContatto.idIndirizzo.via}">
					</div>

				</div>

			</div>
			<!-- row -->

			<a href="/admin/profilo">
				<button type="button" class="btn btn-secondary mt-2">
					<i class="fas fa-angle-left"></i> Indietro
				</button></a>
				&nbsp; &nbsp;

			<button type="submit" class="btn btn-warning mt-2">Modifica</button>

		</form>

	</div>
	<!-- formModificaAccountStyle -->

</th:block>
