@charset "ISO-8859-1";

.backgroundAdmin {background-image: url("../img/immagine_admin.jpg"); background-size: cover;}


/* Home */
.backgroundHome {background-image: url("../img/immagine_admin.jpg"); background-size: cover;}

.divHomeBevit {width: 1700px; margin: 0 auto; background-color: white; border-radius:15px; height: 800px}


/* Prodotti */
.listProdottiStyle {text-align: center; width: 800px; margin: 0 auto; background-color: #F2F2F2; border-radius:15px}

.divStyleProdottoActions {text-align: center; width: 550px; margin: 0 auto; background-color: white; border-radius:15px}

.formStyleProdottoActions {width: 350px; margin: 0 auto;}


/* Utenti */
.divStyleUtenti {text-align: center; width: 1000px; margin: 0 auto; background-color: white; border-radius:15px}

.divInfoUtentiStyle {width: 700px; margin: 0 auto; background-color: white; border-radius:15px}

.divTabellaOrdiniUtente {text-align: center; width: 600px; margin: 0 auto; background-color: white; border-radius:15px}


/* Inserimento Account */
.divInserimentoAccountStyle {text-align: center; width: 800px; margin: 0 auto; background-color: #e0e0eb; border-radius:15px}

.formInserimentoAccountStyle {width: 750px; margin: 0 auto;}


/* Ordini */
.listOrdiniStyle {text-align: center; width: 800px; margin: 0 auto; background-color: white; border-radius:15px}


/* Dettagli Fattura */
.backgroundDettaglioFattura {background-image: url("../img/immagine_login.jpg"); background-size: cover;}

.listDettagliFatturaStyle {text-align: center; width: 550px; margin: 0 auto; background-color: white; border-radius:15px}


/* Profilo */
.divStyleCardProfilo {text-align: center; width: 500px; margin: 0 auto; background-color: #e0e0eb; border-radius:15px}


/* Modifica Profilo */
.formModificaAccountStyle {text-align: center; width: 1000px; margin: 0 auto; background-color: white; border-radius:15px}
