@charset "ISO-8859-1";

.backgroundUndefined {background-image: url("../img/immagine_undefined.jpg"); background-size: cover;}


/* Home */
.divHomeBevit {width: 1700px; margin: 0 auto; background-color: white; border-radius:15px; height: 800px}


/* Prodotti */
.listProdottiStyle {text-align: center; width: 800px; margin: 0 auto; background-color: #F2F2F2; border-radius:15px}


/* Login */
.backgroundLogin {background-image: url("../img/immagine_login.jpg"); background-size: cover;}

.formStyleLogin {text-align: center; width: 450px; margin: 0 auto; background-color: white; border-radius:15px}


/* Registrazione */
.formStyleRegistrazione {text-align: center; width: 900px; margin: 0 auto; background-color: white; border-radius:15px}




