@charset "ISO-8859-1";

.backgroundUser {background-image: url("../img/immagine_user.jpg"); background-size: cover;}


/* Home */
.backgroundHome {background-image: url("../img/immagine_user.jpg"); background-size: cover;}

.divHomeBevit {width: 1700px; margin: 0 auto; background-color: white; border-radius:15px; height: 800px}


/* Prodotti */
.listProdottiStyle {text-align: center; width: 800px; margin: 0 auto; background-color: #F2F2F2; border-radius:15px}


/* Profilo */
.divStyleCardProfilo {text-align: center; width: 500px; margin: 0 auto; background-color: #e0e0eb; border-radius:15px}

.listFattureUtenteStyle {text-align: center; width: 700px; margin: 0 auto; background-color: #e0e0eb; border-radius:15px}


/* Modifica Account */
.formModificaAccountStyle {text-align: center; width: 1000px; margin: 0 auto; background-color: white; border-radius:15px}

label {font-weight: bold;}


/* Dettagli Fattura */
.backgroundDettaglioFattura {background-image: url("../img/immagine_login.jpg"); background-size: cover;}

.listDettagliFatturaStyle {text-align: center; width: 550px; margin: 0 auto; background-color: white; border-radius:15px}


/* Carrello */
.listCarrelloStyle {text-align: center; width: 950px; margin: 0 auto; background-color: #F2F2F2; border-radius:15px}
